# Assignment 4

## Name - Manas Chopra

## Dataset 1 - IPL DATA

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
deliveries=pd.read_csv("deliveries.csv")

In [3]:
matches=pd.read_csv("matches.csv")

In [4]:
deliveries.head(1)

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN

In [5]:
matches.head(1)

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,05-04-17,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN

### Q1- Which team has won/lost maximum number of matches while chasing?

### FINDING MAX WINNER WHILE CHASING

In [6]:
max_wins=matches[((matches['toss_winner']==matches['winner']) & (matches['toss_decision']=='field'))| ((matches['toss_winner']!=matches['winner'])& (matches['toss_decision']=='bat'))].groupby('winner').count()['id']

In [7]:
pd.DataFrame(max_wins).rename(columns={'id':'Count'}).sort_values("Count",ascending=False).iloc[0]

Count    58
Name: Kolkata Knight Riders, dtype: int64

### FINDING MAX LOSE WHILE CHASING

In [8]:
losers_condition_1=matches[(matches['toss_winner']!=matches['winner']) & (matches['toss_decision']=='field')].groupby('toss_winner').count()['id']

In [9]:
losers_condition_2=matches[(matches['toss_winner']==matches['winner'])& (matches['toss_decision']=='bat')][['team1','team2','winner']]

In [10]:
losers_condition_2_1=losers_condition_2[losers_condition_2['team1']==losers_condition_2['winner']].groupby('team2').count()['team1']

In [11]:
losers_condition_2_2=losers_condition_2[losers_condition_2['team2']==losers_condition_2['winner']].groupby('team1').count()

In [12]:
losers_condition_1

toss_winner
Chennai Super Kings            14
Deccan Chargers                11
Delhi Capitals                  2
Delhi Daredevils               27
Gujarat Lions                   4
Kings XI Punjab                26
Kochi Tuskers Kerala            1
Kolkata Knight Riders          24
Mumbai Indians                 23
Pune Warriors                   9
Rajasthan Royals               21
Rising Pune Supergiant          1
Rising Pune Supergiants         1
Royal Challengers Bangalore    29
Sunrisers Hyderabad            11
Name: id, dtype: int64

In [13]:
losers_condition_2

,team1,team2,winner
4,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore
14,Delhi Daredevils,Kings XI Punjab,Delhi Daredevils
20,Sunrisers Hyderabad,Delhi Daredevils,Sunrisers Hyderabad
50,Delhi Daredevils,Rising Pune Supergiant,Delhi Daredevils
54,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore
58,Mumbai Indians,Rising Pune Supergiant,Mumbai Indians
60,Chennai Super Kings,Kings XI Punjab,Chennai Super Kings
73,Chennai Super Kings,Royal Challengers Bangalore,Chennai Super Kings
77,Rajasthan Royals,Kolkata Knight Riders,Rajasthan Royals
80,Kings XI Punjab,Kolkata Knight Riders,Kings XI Punjab
87,Kolkata Knight Riders,Royal Challengers Bangalore,Kolkata Knight Riders
91,Kolkata Knight Riders,Deccan Chargers,Kolkata Knight Riders
94,Kolkata Knight Riders,Delhi Daredevils,Kolkata Knight Riders
106,Royal Challengers Bangalore,Chennai Super Kings,Royal Challengers Bangalore
109,Rajasthan Royals,Chennai Super Kings,Rajasthan Royals
118,Royal Challengers Bangalore,Rajasthan Royals,Royal Challengers Bangalore
121,Chennai Super Kings,Royal Challengers Bangalore,Chennai Super Kings
123,Deccan Chargers,Royal Challengers Bangalore,Deccan Chargers
124,Delhi Daredevils,Chennai Super Kings,Delhi Daredevils
127,Deccan Chargers,Mumbai Indians,Deccan Chargers
129,Kings XI Punjab,Rajasthan Royals,Kings XI Punjab
131,Mumbai Indians,Kolkata Knight Riders,Mumbai Indians
134,Kings XI Punjab,Mumbai Indians,Kings XI Punjab
137,Mumbai Indians,Kolkata Knight Riders,Mumbai Indians
138,Royal Challengers Bangalore,Kings XI Punjab,Royal Challengers Bangalore
143,Chennai Super Kings,Deccan Chargers,Chennai Super Kings
146,Deccan Chargers,Mumbai Indians,Deccan Chargers
148,Chennai Super Kings,Kings XI Punjab,Chennai Super Kings
152,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians
154,Deccan Chargers,Rajasthan Royals,Deccan Chargers
...,...,...,...
468,Sunrisers Hyderabad,Delhi Daredevils,Sunrisers Hyderabad
475,Rajasthan Royals,Kolkata Knight Riders,Rajasthan Royals
477,Chennai Super Kings,Kolkata Knight Riders,Chennai Super Kings
500,Mumbai Indians,Rajasthan Royals,Mumbai Indians
520,Chennai Super Kings,Sunrisers Hyderabad,Chennai Super Kings
530,Delhi Daredevils,Sunrisers Hyderabad,Delhi Daredevils
540,Mumbai Indians,Sunrisers Hyderabad,Mumbai Indians
541,Chennai Super Kings,Kings XI Punjab,Chennai Super Kings
544,Kolkata Knight Riders,Delhi Daredevils,Kolkata Knight Riders
551,Mumbai Indians,Kings XI Punjab,Mumbai Indians
553,Chennai Super Kings,Royal Challengers Bangalore,Chennai Super Kings
560,Sunrisers Hyderabad,Delhi Daredevils,Sunrisers Hyderabad
561,Royal Challengers Bangalore,Mumbai Indians,Royal Challengers Bangalore
562,Chennai Super Kings,Rajasthan Royals,Chennai Super Kings
563,Sunrisers Hyderabad,Kings XI Punjab,Sunrisers Hyderabad
569,Rajasthan Royals,Kolkata Knight Riders,Rajasthan Royals
572,Mumbai Indians,Chennai Super Kings,Mumbai Indians
573,Royal Challengers Bangalore,Rajasthan Royals,Royal Challengers Bangalore
615,Sunrisers Hyderabad,Rising Pune Supergiants,Sunrisers Hyderabad
635,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad
651,Kings XI Punjab,Sunrisers Hyderabad,Kings XI Punjab
663,Sunrisers Hyderabad,Rajasthan Royals,Sunrisers Hyderabad
675,Rajasthan Royals,Kings XI Punjab,Rajasthan Royals
688,Rajasthan Royals,Royal Challengers Bangalore,Rajasthan Royals
690,Delhi Daredevils,Mumbai Indians,Delhi Daredevils
713,Chennai Super Kings,Kings XI Punjab,Chennai Super Kings
729,Mumbai Indians,Delhi Capitals,Mumbai Indians
741,Delhi Capitals,Royal Challengers Bangalore,Delhi Capitals
746,Mumbai Indians,Sunrisers Hyderabad,Mumbai Indians
755,Mumbai Indians,Chennai Super Kings,Mumbai Indians

In [14]:
losers_condition_2_2

Empty DataFrame
Columns: [team2, winner]
Index: []

In [15]:
ans=pd.DataFrame(losers_condition_1+losers_condition_2_1).reset_index()

In [16]:
ans.rename(columns={'index':'Teams',0:'Count'},inplace=True)

In [17]:
ans

                          Teams  Count
0           Chennai Super Kings   26.0
1               Deccan Chargers   21.0
2                Delhi Capitals    3.0
3              Delhi Daredevils   47.0
4                 Gujarat Lions    NaN
5               Kings XI Punjab   41.0
6          Kochi Tuskers Kerala    3.0
7         Kolkata Knight Riders   37.0
8                Mumbai Indians   35.0
9                 Pune Warriors   19.0
10             Rajasthan Royals   34.0
11       Rising Pune Supergiant    3.0
12      Rising Pune Supergiants    2.0
13  Royal Challengers Bangalore   46.0
14          Sunrisers Hyderabad   17.0

In [18]:
ans.sort_values(by='Count',ascending=False).iloc[0]

Teams    Delhi Daredevils
Count                  47
Name: 3, dtype: object

### Q2- Which toss decision is best for each ground?

In [19]:
a=matches[matches['toss_winner']==matches['winner']][['venue','toss_decision','id']].groupby(['venue','toss_decision']).count().rename(columns={'id':'count'})

In [20]:
a=a.unstack()

In [21]:
a=a.fillna(0)

In [22]:
a.head(2)

                 count
toss_decision      bat field
venue
ACA-VDCA Stadium   0.0   2.0
Barabati Stadium   2.0   3.0

In [23]:
a['BEST_TOSS_DECISION']=a['count']['bat']>=a['count']['field']

In [24]:
a['BEST_TOSS_DECISION']=a['BEST_TOSS_DECISION'].apply(lambda x:'BAT' if x==True else 'FIELD')

In [25]:
a

                                                   count        \
toss_decision                                        bat field
venue
ACA-VDCA Stadium                                     0.0   2.0
Barabati Stadium                                     2.0   3.0
Brabourne Stadium                                    4.0   3.0
Buffalo Park                                         2.0   0.0
De Beers Diamond Oval                                1.0   1.0
Dr DY Patil Sports Academy                           3.0   6.0
Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Sta...   2.0   2.0
Dubai International Cricket Stadium                  1.0   2.0
Eden Gardens                                        12.0  31.0
Feroz Shah Kotla                                    13.0  20.0
Feroz Shah Kotla Ground                              2.0   3.0
Green Park                                           0.0   4.0
Himachal Pradesh Cricket Association Stadium         1.0   4.0
Holkar Cricket Stadium                               0.0   7.0
IS Bindra Stadium                                    0.0   5.0
JSCA International Stadium Complex                   1.0   3.0
Kingsmead                                            6.0   3.0
M Chinnaswamy Stadium                                4.0  36.0
M. A. Chidambaram Stadium                            1.0   3.0
M. Chinnaswamy Stadium                               0.0   3.0
MA Chidambaram Stadium, Chepauk                     21.0   5.0
Maharashtra Cricket Association Stadium              1.0  13.0
Nehru Stadium                                        1.0   1.0
New Wanderers Stadium                                0.0   3.0
Newlands                                             3.0   1.0
OUTsurance Oval                                      1.0   1.0
Punjab Cricket Association IS Bindra Stadium, M...   1.0   5.0
Punjab Cricket Association Stadium, Mohali           5.0  11.0
Rajiv Gandhi International Stadium, Uppal            5.0  14.0
Rajiv Gandhi Intl. Cricket Stadium                   1.0   1.0
Sardar Patel Stadium, Motera                         3.0   3.0
Saurashtra Cricket Association Stadium               0.0   4.0
Sawai Mansingh Stadium                               6.0  19.0
Shaheed Veer Narayan Singh International Stadium     1.0   2.0
Sharjah Cricket Stadium                              0.0   2.0
Sheikh Zayed Stadium                                 3.0   2.0
St George's Park                                     3.0   0.0
Subrata Roy Sahara Stadium                           9.0   0.0
SuperSport Park                                      3.0   5.0
Vidarbha Cricket Association Stadium, Jamtha         1.0   0.0
Wankhede Stadium                                    11.0  26.0

                                                   BEST_TOSS_DECISION
toss_decision
venue
ACA-VDCA Stadium                                                FIELD
Barabati Stadium                                                FIELD
Brabourne Stadium                                                 BAT
Buffalo Park                                                      BAT
De Beers Diamond Oval                                             BAT
Dr DY Patil Sports Academy                                      FIELD
Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Sta...                BAT
Dubai International Cricket Stadium                             FIELD
Eden Gardens                                                    FIELD
Feroz Shah Kotla                                                FIELD
Feroz Shah Kotla Ground                                         FIELD
Green Park                                                      FIELD
Himachal Pradesh Cricket Association Stadium                    FIELD
Holkar Cricket Stadium                                          FIELD
IS Bindra Stadium                                               FIELD
JSCA International Stadium Complex                              FIELD
Kingsmead                                                         BAT
M Chinnaswamy Stadium                                           FIELD
M. A. Chidambaram Stadium                                       FIELD
M. Chinnaswamy Stadium                                          FIELD
MA Chidambaram Stadium, Chepauk                                   BAT
Maharashtra Cricket Association Stadium                         FIELD
Nehru Stadium                                                     BAT
New Wanderers Stadium                                           FIELD
Newlands                                                          BAT
OUTsurance Oval                                                   BAT
Punjab Cricket Association IS Bindra Stadium, M...              FIELD
Punjab Cricket Association Stadium, Mohali                      FIELD
Rajiv Gandhi International Stadium, Uppal                       FIELD
Rajiv Gandhi Intl. Cricket Stadium                                BAT
Sardar Patel Stadium, Motera                                      BAT
Saurashtra Cricket Association Stadium                          FIELD
Sawai Mansingh Stadium                                          FIELD
Shaheed Veer Narayan Singh International Stadium                FIELD
Sharjah Cricket Stadium                                         FIELD
Sheikh Zayed Stadium                                              BAT
St George's Park                                                  BAT
Subrata Roy Sahara Stadium                                        BAT
SuperSport Park                                                 FIELD
Vidarbha Cricket Association Stadium, Jamtha                      BAT
Wankhede Stadium                                                FIELD

In [26]:
del(a['count'])

In [27]:
a

                                                   BEST_TOSS_DECISION
toss_decision
venue
ACA-VDCA Stadium                                                FIELD
Barabati Stadium                                                FIELD
Brabourne Stadium                                                 BAT
Buffalo Park                                                      BAT
De Beers Diamond Oval                                             BAT
Dr DY Patil Sports Academy                                      FIELD
Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Sta...                BAT
Dubai International Cricket Stadium                             FIELD
Eden Gardens                                                    FIELD
Feroz Shah Kotla                                                FIELD
Feroz Shah Kotla Ground                                         FIELD
Green Park                                                      FIELD
Himachal Pradesh Cricket Association Stadium                    FIELD
Holkar Cricket Stadium                                          FIELD
IS Bindra Stadium                                               FIELD
JSCA International Stadium Complex                              FIELD
Kingsmead                                                         BAT
M Chinnaswamy Stadium                                           FIELD
M. A. Chidambaram Stadium                                       FIELD
M. Chinnaswamy Stadium                                          FIELD
MA Chidambaram Stadium, Chepauk                                   BAT
Maharashtra Cricket Association Stadium                         FIELD
Nehru Stadium                                                     BAT
New Wanderers Stadium                                           FIELD
Newlands                                                          BAT
OUTsurance Oval                                                   BAT
Punjab Cricket Association IS Bindra Stadium, M...              FIELD
Punjab Cricket Association Stadium, Mohali                      FIELD
Rajiv Gandhi International Stadium, Uppal                       FIELD
Rajiv Gandhi Intl. Cricket Stadium                                BAT
Sardar Patel Stadium, Motera                                      BAT
Saurashtra Cricket Association Stadium                          FIELD
Sawai Mansingh Stadium                                          FIELD
Shaheed Veer Narayan Singh International Stadium                FIELD
Sharjah Cricket Stadium                                         FIELD
Sheikh Zayed Stadium                                              BAT
St George's Park                                                  BAT
Subrata Roy Sahara Stadium                                        BAT
SuperSport Park                                                 FIELD
Vidarbha Cricket Association Stadium, Jamtha                      BAT
Wankhede Stadium                                                FIELD

### Q3- Which player has won maximum number of MoM awards while chasing?

In [76]:
# As MoM can be from either of the winning team and losing team, first i am collecting all the chasing team player names and then comparing the player of the match with team members names

In [28]:
batsman_in_chasing_team=deliveries[deliveries['inning']==2][['match_id','batting_team','batsman']].rename(columns={'match_id':'id','batting_team':'team_name','batsman':'player_name'})

In [29]:
non_striker_in_chasing_team=deliveries[deliveries['inning']==2][['match_id','batting_team','non_striker']].rename(columns={'match_id':'id','batting_team':'team_name','non_striker':'player_name'})

In [30]:
bowlers_in_chasing_team=deliveries[deliveries['inning']==1][['match_id','bowling_team','bowler']].rename(columns={'match_id':'id','bowling_team':'team_name','bowler':'player_name'})

In [31]:
bowlers_in_chasing_team=bowlers_in_chasing_team.drop_duplicates()
non_striker_in_chasing_team=non_striker_in_chasing_team.drop_duplicates()
batsman_in_chasing_team=batsman_in_chasing_team.drop_duplicates()

In [70]:
chasing_team_players=bowlers_in_chasing_team.append(non_striker_in_chasing_team).append(batsman_in_chasing_team).drop_duplicates()

In [71]:
chasing_team_players.head()

    id                    team_name  player_name
0    1  Royal Challengers Bangalore     TS Mills
7    1  Royal Challengers Bangalore  A Choudhary
20   1  Royal Challengers Bangalore    YS Chahal
26   1  Royal Challengers Bangalore    S Aravind
32   1  Royal Challengers Bangalore    SR Watson

In [72]:
a1=pd.merge(chasing_team_players,matches[['id','player_of_match']],on='id')

In [73]:
a1.head()

   id                    team_name  player_name player_of_match
0   1  Royal Challengers Bangalore     TS Mills    Yuvraj Singh
1   1  Royal Challengers Bangalore  A Choudhary    Yuvraj Singh
2   1  Royal Challengers Bangalore    YS Chahal    Yuvraj Singh
3   1  Royal Challengers Bangalore    S Aravind    Yuvraj Singh
4   1  Royal Challengers Bangalore    SR Watson    Yuvraj Singh

In [74]:
# Checking if the player of the match was a team member of chasing team
a1[a1['player_name']==a1['player_of_match']]['player_of_match'].value_counts().head(1)

YK Pathan    12
Name: player_of_match, dtype: int64

### Q4- Which batsman has played maximum number of dot balls?

In [75]:
deliveries.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,,,
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,,,
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,,,
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,,,
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,,,

In [37]:
deliveries.fillna("",inplace=True)

In [52]:
deliveries[(deliveries['total_runs']==0 )&(deliveries['player_dismissed']=="")].groupby('batsman').count()['match_id'].reset_index().rename(columns={'match_id':'Dot_Balls_Count'}).sort_values(by='Dot_Balls_Count').iloc[-1]

batsman            V Kohli
Dot_Balls_Count       1223
Name: 464, dtype: object

### Q5- Which batsmen came to crease but never got a chance to face a ball?

In [ ]:
batsman=list(set(deliveries['batsman']))

In [ ]:
non_striker=list(set(deliveries['non_striker']))

In [ ]:
for x in non_striker:
    if x not in batsman:
        print(x)

### Q6- Which bowler has hit for maximum number of 1s/2s/3s/4s/6s?

#### -- Max number of 1s

In [ ]:
deliveries[deliveries['total_runs']==1][['bowler','match_id']].groupby('bowler').count().rename(columns={'match_id':'no. of 1s'}).sort_values('no. of 1s').iloc[-1]

#### -- Max number of 2s

In [ ]:
deliveries[deliveries['total_runs']==2][['bowler','match_id']].groupby('bowler').count().rename(columns={'match_id':'no. of 2s'}).sort_values('no. of 2s').iloc[-1]

#### -- Max number of 3s

In [ ]:
deliveries[deliveries['total_runs']==3][['bowler','match_id']].groupby('bowler').count().rename(columns={'match_id':'no. of 3s'}).sort_values('no. of 3s').iloc[-1]

#### -- Max number of 4s

In [ ]:
deliveries[deliveries['total_runs']==4][['bowler','match_id']].groupby('bowler').count().rename(columns={'match_id':'no. of 4s'}).sort_values('no. of 4s').iloc[-1]

#### -- Max number of 6s

In [ ]:
deliveries[deliveries['total_runs']==6][['bowler','match_id']].groupby('bowler').count().rename(columns={'match_id':'no. of 6s'}).sort_values('no. of 6s').iloc[-1]

### Q7- Which batsman got stumped out maximum number of times?

In [ ]:
stumped=deliveries[deliveries['dismissal_kind']=='stumped']

In [ ]:
stumped.groupby('batsman')['match_id'].count().reset_index().rename(columns={'match_id':'Count'}).sort_values(by='Count',ascending=False).iloc[0]

### Q8- Which non-striker has been part of maximum number of runouts?

In [ ]:
deliveries[(deliveries['dismissal_kind']=='run out')&(deliveries['non_striker']==deliveries['player_dismissed'])].groupby('non_striker')['match_id'].count().reset_index().rename(columns={'match_id':'Run Out'}).sort_values(by='Run Out',ascending=False).iloc[0:3]

### Q9- Make at least 5 more new queries and find answers to them...

### Q9 - ( i ) Which batsman has highest runs in total?

In [ ]:
deliveries[['batsman','batsman_runs']].groupby('batsman').sum().sort_values(by='batsman_runs').iloc[-1]

### Q9 - ( ii ) Which bowler has delivered maximum no balls?

In [ ]:
deliveries[deliveries['noball_runs']!=0][['bowler','noball_runs']].groupby('bowler').count().rename(columns={'noball_runs':'No Balls'}).reset_index().sort_values(by='No Balls').iloc[-1]

### Q9 - ( iii ) Which fielder caught maximum catches?

In [ ]:
deliveries[deliveries['dismissal_kind']=='caught'][['fielder','match_id']].groupby('fielder').count().reset_index().rename(columns={'match_id':'Total Catches'}).sort_values(by='Total Catches').iloc[-1]

### Q9 - ( iV ) Which umpire has umpired maximum matches?

In [ ]:
ump1=matches[matches['umpire1']!=""][['umpire1','umpire2']].groupby('umpire1').count().reset_index().rename(columns={'umpire1':'UMPIRES','umpire2':'count'})

In [ ]:
ump2=matches[matches['umpire2']!=""][['umpire2','umpire1']].groupby('umpire2').count().reset_index().rename(columns={'umpire2':'UMPIRES','umpire1':'count'})

In [ ]:
ump3=matches[matches['umpire3']!=""][['umpire3','umpire1']].groupby('umpire3').count().reset_index().rename(columns={'umpire3':'UMPIRES','umpire1':'count'})

In [ ]:
ump1.append(ump2).append(ump3).groupby('UMPIRES').sum().sort_values(by='count').iloc[-1]

### Q9 - ( i ) Count the number of matches won by each team in each season.

In [ ]:
matches[['season','winner','id']].groupby(['season','winner']).count().rename(columns={'id':'Wins'})